@font-face {
  font-family: "iconfont"; /* Project id 2771060 */
  src: url('./iconfont.woff2?t=1630035935345') format('woff2'),
       url('./iconfont.woff?t=1630035935345') format('woff'),
       url('./iconfont.ttf?t=1630035935345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-G-liantongzhuangtai:before {
  content: "\e89f";
}

.icon-G-suoping:before {
  content: "\e8a0";
}

.icon-G-xitongguanliyuan:before {
  content: "\e8a1";
}

.icon-D-guanlishitu:before {
  content: "\e89e";
}

.icon-shijian:before {
  content: "\e87f";
}

.icon-bianji:before {
  content: "\e880";
}

.icon-shurukuang-guanbi:before {
  content: "\e881";
}

.icon-shurukuang-jiantou-xia:before {
  content: "\e882";
}

.icon-shurukuang-jiantou-shang:before {
  content: "\e883";
}

.icon-shurukuang-jiantou-zuo:before {
  content: "\e884";
}

.icon-yingjiyuan:before {
  content: "\e885";
}

.icon-D-baobiaozhongxin:before {
  content: "\e886";
}

.icon-D-fangda:before {
  content: "\e887";
}

.icon-xinjian:before {
  content: "\e888";
}

.icon-D-gengduo:before {
  content: "\e889";
}

.icon-sousuo:before {
  content: "\e88a";
}

.icon-shurukuang-jiantou-you:before {
  content: "\e88b";
}

.icon-yewufaqi:before {
  content: "\e88c";
}

.icon-D-chanpinguanli:before {
  content: "\e88d";
}

.icon-D-fengkongzhongxin:before {
  content: "\e88e";
}

.icon-D-gerenzhongxin:before {
  content: "\e88f";
}

.icon-D-shouye:before {
  content: "\e890";
}

.icon-D-shujuchaxun:before {
  content: "\e891";
}

.icon-D-wendangguanli:before {
  content: "\e892";
}

.icon-D-xinpifuwuzhongxin:before {
  content: "\e893";
}

.icon-D-zhuomianshezhi:before {
  content: "\e894";
}

.icon-D-zongheyewubanli:before {
  content: "\e895";
}

.icon-D-yunyingguanli:before {
  content: "\e896";
}

.icon-D-zhanghuhuakuan:before {
  content: "\e897";
}

.icon-S-touzizhiling:before {
  content: "\e898";
}

.icon-S-fufeizhiling:before {
  content: "\e899";
}

.icon-S-zidingyizhiling:before {
  content: "\e89a";
}

.icon-S-zongheyewubanli:before {
  content: "\e89b";
}

.icon-S-TAzhiling:before {
  content: "\e89c";
}

.icon-S-zhuanzhangzhiling:before {
  content: "\e89d";
}

